span.adequate, span.inadequate, span.good {
    display : inline-block;
    width : 120px;
}

span.inadequate input {
    position : relative;
    left : 0px;
}
span.adequate input{
    position : relative;
    left : 50px;

}
span.good input{
    position : relative;
    left : 100px;
}

span.description {
    display : inline-block;
    width : 400px;
}