.criterion .description {
    display : inline-block;
    width : 400px;
}

.criterion .mark {
    position : relative;
}

.criterion .mark.inadequate {
    left : 0px;
}

.criterion .mark.adequate {
    left : 50px;
}

.criterion .mark.good {
    left : 100px;
}