@model DaVinci.Condor.ScoreSheetTemplate

@functions
{
    private string MarkToClassName(DaVinci.Condor.Mark mark)
    {
        switch (mark)
        {
            case DaVinci.Condor.Mark.Inadequate:
                return "inadequate";
                    
            case DaVinci.Condor.Mark.Adequate:
                return "adequate";
                        
            case DaVinci.Condor.Mark.Good:
                return "good";
                
            default:
                return String.Empty;
        }
    }
}

<ol>
    @foreach (var criterion in Model.Criteria)
    {
        <li class="criterion">
            <span class="description">@criterion.Description</span>
            <!-- Each mark has a class so we can display it in the correct column. -->
            <input type="checkbox" class="mark @MarkToClassName(criterion.Mark)">
        </li>
    }
</ol>