@model DaVinci.Condor.ScoreSheet

<ol>
    @foreach (var criterion in Model.Template.Criteria)
    {
        <li class="criterion">
            <span class="description">@criterion.Description</span>
            <select class="mark">
                <option>nog in te vullen</option>
                <option>voldaan</option>
                <option>niet voldaan</option>
                <option>twijfel</option>
            </select>
        </li>
    }
</ol>